.iframe {
  border-style: none;
  border-width:10px;
  border-color: rgb(255, 249, 249);
  border-radius: 25%;
  text-align:top;
}
h1{
  
  font-family:'Shadows Into Light';
  ;
}
.heading{
  font-family:monospace;
}   
.main{
  font-family:'Ledger';
  padding: 0px 10px 20px 10px
}
