.title{
	margin: 0% 10% 0% 10% ;
	padding:0%;
}

.centerText{
	text-align:center;
	font-size:100px
	}

.dropbtn {
			background-color: rgb(205, 58, 58);
			color: rgb(249, 243, 243);
			padding: 16px;
			font-size: 16px;
			border: none;
		}

.dropdown {
			position: relative;
			display: inline-block;                 
		}

.dropdown-content {
			display: none;
			position: absolute;
			background-color: rgb(227, 100, 100);
			min-width: 200px;
			z-index: 1;
		}

.dropdown-content a {
			color: rgb(255, 253, 253);
			padding: 6px 8px;
			text-decoration: none;
			display: block;
		}

.dropdown-content a:hover {background-color: rgb(180, 31, 31);}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(192, 27, 27);}

